{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block nav_add %}
    {% if perms.webapp.add_project %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_project" %}">Add project</a>
        </li>
     {% endif %}
    {% include "partial/search.html" %}
{% endblock %}
{% block content %}
<div class="container">

    <div><h1>List of projects:</h1></div>
    <div class="row">
        {% for project in projects %}
            <div class="col col-md-4 mt-2">
                    <div class="card p-2 mb-2">
                        <div class="card-body">
                            <h4 class="card-title mt-2">{{ project.title }}</h4>
                            <a href="{% url "webapp:project_view" project.pk %}" class="btn btn-outline-danger">More</a>
                        </div>
                    </div>
            </div>
            {% empty %}
        {% endfor %}
    </div>
{% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
</div>
{% endblock %}